*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  width: 5rem;
  height: 5.5rem;
}
.bg-nav{
  background-color: #F7E4A2;
}
.toggle{
  background-color: #F7E4A2;
  width: 4rem;
  justify-content: center;
  border: 0;
}
.toggle:hover{
  border: 0;
}
.toggle:focus{
  box-shadow: none;
}